<h1>Create New Character</h1>
<%= form_tag '/characters', method: :post do %>
  <%= label_tag :name %>
  <%= text_field_tag :name%>

  <%= select_tag :lvl, options_for_select(1..20),include_blank: "--level--" %>
  <%= select_tag :class, options_from_collection_for_select(@new_character_info["classes"], "id", "name"), include_blank: "--class--" %>
  <%= select_tag :race, options_from_collection_for_select(@new_character_info["races"], "id", "name"), include_blank: "--race--" %>

  <%= submit_tag 'Create Character' %>
<% end %>
